<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<form th:action="@{/user/insertUser}" method="post">
    姓名：<input type="text" name="username"/>
    <span style="color: red;" th:errors="${user.username}"></span><br/>
    密码：<input type="text" name="password"/>
    <span style="color: red;" th:errors="${user.password}"></span><br/>
    年龄：<input type="text" name="age"/>
    <span style="color: red;" th:errors="${user.age}"></span><br/>
    邮箱：<input type="text" name="email"/>
    <span style="color: red;" th:errors="${user.email}"></span><br/>
    <input type="submit" value="注册"/><br/>
</form>
</body>
</html>