<component name="ArtifactManager">
  <artifact type="war" name="springboot-view:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot-view-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-view:war exploded" />
    </root>
  </artifact>
</component>